/*Logo*/
.logo-completo {
    position:fixed;
    text-align: center;
    gap: 10px;
}

.logo {
    size-adjust: 30px;
    border-radius: 100%;
    border-color: var(--cor-secundaria);
    border-style: dotted;
    
}

.nome-logo {
    font-size: 15px;
    font-family:"Playfair", serif;;
    display: flex;
    align-items: center;
    gap: 5px;
 }

/*Botão*/
.btn {
    border: #000000;
    padding: 5px;
    border-radius: 5px;

    box-shadow: 0 0 10px rgba(0,0,0,0.70);   
}

.btn:hover {
    background-color: #b0adac;
    cursor: pointer;
}

.btn:active {
    background-color: #2f2e2e;
}

.btn-principal {
    background-color: #552814;
    color: #F5EDE3;
    gap: 15px;
}

.btn-primario {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.btn-secundario {
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
}